*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    grid-area: logo;
    background-color: orange;
}
.header{
    grid-area: header;
    background-color: red;
}
.left-menu{
    grid-area: left-menu;
    background-color: blue ;
}
.main{
    grid-area: main;
    background-color: palegreen;
}
.right-menu{
    grid-area: right-menu;
    background-color: saddlebrown;
}
.footer{
    grid-area: footer;
    background-color: slategrey;
}
.footer2{
    grid-area: footer2;
    background-color: springgreen;
}
.footer1{
    grid-area: footer1;
    background-color: violet;
}
ul.inbox{
    list-style: none;
    color: white;
}

.inbox li{
    margin: 20px;
}
.left-menu, .main, .right-menu{
    overflow-y: scroll;
}
.user{
    grid-area: user-info;
    background-color: blue;
}
.right-menu2{
    grid-area: right-menu2;
    background-color: burlywood;
}
.container{
    display: grid;
    grid-template: 
    'logo header user-info user-info' 70px
    'left-menu main right-menu right-menu2' 250px 
    'footer2 main right-menu right-menu2' 1fr
    'footer main right-menu right-menu2' 1fr
    'footer1 main right-menu right-menu2' 1fr/
    250px    2fr   0.5fr 0.1fr;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 820px){
    .container{
        display: none;
    }
    body{
        background-image: url("https://image.shutterstock.com/image-vector/boo-sign-hanging-word-text-260nw-1444255334.jpg");
    }
}

@media screen and (max-width: 800px){
    .container{
        display: grid;
        grid-template: 
        'logo header user-info' 70px
        'left-menu main right-menu2' 250px 
        'footer2 main right-menu2' 1fr
        'footer main right-menu2' 1fr
        'footer1 main right-menu2' 1fr/
        250px    2fr   50px ;
        width: 100vw;
        height: 100vh;
    }
    .right-menu{
        display: none;
    }
}


@media screen and (max-width: 600px){
    .container{
        display: grid;
        grid-template: 
        'logo header user-info' 70px
        'left-menu main right-menu2' 250px 
        'footer2 main right-menu2' 1fr
        'footer main right-menu2' 1fr
        'footer1 main right-menu2' 1fr/
        50px    2fr   50px ;
        width: 100vw;
        height: 100vh;
    }
}